/* LoginPage.css */

.login-container {
  max-width: 450px; /* Increased width for the container */
  margin: 0 auto;
  padding: 40px 30px; /* Increased padding for better spacing */
  border-radius: 8px;
  background-color: #f5f5f5; /* Light grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: #4f4f4f; /* Dark grey text color */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4f4f4f; /* Dark grey text color */
}

input {
  width: 100%;
  padding: 12px;
  border: none; /* Remove border */
  border-radius: 8px;
  background-color: #ffffff; /* White background */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inset shadow to blend with the background */
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ff6347; /* Tomato red button color */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #e74c3c; /* Darker red on hover */
}

p {
  color: black;
}